@page
@using BitcoinClub
@using Microsoft.Extensions.Localization
@using System.Globalization
@inject IStringLocalizerFactory LocalizerFactory

@{
    var assemblyName = typeof(Program).Assembly.GetName().Name!;
    var L = LocalizerFactory.Create("Areas.Identity.Pages.Account.ForgotPassword", assemblyName);
    ViewData["Title"] = L["ForgotPasswordConfirmation_Title"];
}

<div class="bc-auth-page">
    <div class="bc-auth-card">
        <div class="bc-auth-confirmation">
            <div class="bc-auth-confirmation-icon">
                <i class="bi bi-envelope-check"></i>
            </div>
            <h1 class="bc-auth-title text-center">@L["ForgotPasswordConfirmation_Title"]</h1>
            <p class="bc-auth-subtitle text-center">@L["ForgotPasswordConfirmation_Body"]</p>
            <div class="mt-4 text-center">
                <a asp-page="./Login" class="bc-auth-back-link">
                    <i class="bi bi-arrow-left me-1"></i>@L["ForgotPassword_BackToLogin"]
                </a>
            </div>
        </div>
    </div>
</div>
